/* imports fonts ( google-fonts ) */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
/* 
font-family: 'Roboto Mono', monospace;          
*/
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');         
/* 
font-family: 'Kdam Thmor Pro', sans-serif;          
*/          
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/*
font-family: 'Poppins', sans-serif;            
*/