:root
{

    --color-primary: #151c20;
    --color-secondary: #293238;
    --color-red: #ab2f2d;
    --color-branco: #fffeff;
    --color-green: #7ee21d;
    --color-purple: #7c2ae8;
    --color-blue: #092147;
    --color-blue-light: #00ade8;
    --color-pink-light: #e41376;

}